<img src="/assets/imgs/svg/Logo-Tik-Talk.svg" alt="Logo">

<nav class="menu">
    <ul class="menu_list">
        @for (button of menuButtons; track button.name) {
            <li class="menu_list-item">
                <button class="menu_btn">
                    <svg
                        [icon]=button.icon
                        [ngClass]="{
                            'menu_btn-icon': true,
                        }"

                    ></svg>
                    <span class="menu_btn-descr">{{ button.name }}</span>
                </button>
            </li>
        }
    </ul>
</nav>


