:host {
    background-color: var(--dark-color);
    padding: 20px 12px;
}

.menu_list {
    list-style: none;
}

.menu_btn {
    padding: 8px 12px;
    background: none;
    color: var(--light-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;width: 100%;
    &:hover {
        background-color: var(--gray-color);
    }
}

.menu_btn-icon {
    color: var(--primary-color);
    width: 16.640625px;
    height: 16.640625px;
}

.menu_btn-descr {
    margin-left: 10px;
}


