<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h1 mb60">Вход</h1>

    <label class="tt-control-label mb-16">
        Telegram username
        <input class="tt-input" type="text" placeholder="Введите логин" formControlName="username">
    </label>

    <label class="tt-control-label mb32">
        Пароль
        <div class="password-input-wrapper">
            <input
                class="tt-input"
                [type]="showPassword() ? 'text' : 'password'"
                placeholder="Введите пароль"
                formControlName="password">
            <button
                class="password_eye"
                (click)="buttonClick($event)"
            >
                <svg icon="eye"
                     [ngClass]="{
                        'eye_svg': true,
                        'active': showPassword()
                    }"
                ></svg>
            </button>
        </div>
    </label>
    <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img class="login-page_logo" src="/assets/imgs/logo.png" alt="Logo">
